{% extends 'base.html' %}
{% block 'body' %}
      <main role="main" class="inner cover" id="body">
        {% if es_correcta == None %}
        {% elif es_correcta%}
          <div class="alert alert-success" role="alert">
            La alternativa seleccionada es correcta.
          </div>
        
        {% else %}  
          <div class="alert alert-danger" role="alert">
           La alternativa seleccionada es incorrecta, seleccione nuevamente.
          </div>

        {%endif%}
    <div class="container pregunta-container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <form class = "question" method="POST" action="{% url 'basico'%}?categoria={{categoria}}" novalidate>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ pregunta.id }}">
            <h1 class="cover-heading">Pregunta {{numero}}: {{pregunta.enunciado}}</h1>
            {% if pregunta.imagen_enunciado%}
              <img class="rounded mx-auto d-block" src="/media/{{pregunta.imagen_enunciado}}">
            {% endif %}
            <div 
              {% if es_correcta and alternativa_correcta == "1" %}
                class="radio radio-primary form-check is_correct">
                <input class = "form-check-input" value="1" name="alternativa" type="radio" id="radio1" checked="true">
              {% else %}
                class="radio radio-primary form-check"  >
                <input class = "form-check-input" value="1" name="alternativa" type="radio" id="radio1">
              {% endif%}
              <label class = "form-check-label" for="radio1">
                {% if pregunta.imagen_alternativa_1 %}
                  <img class="rounded mx-auto d-block" src="/media/{{pregunta.imagen_alternativa_1}}">
                {% else %}
                  {{pregunta.alternativa_1}}    
                {% endif %}
              </label>
            </div>
            
            <div            
              {% if es_correcta and alternativa_correcta == "2" %}
                class="radio radio-primary form-check is_correct">
                <input class = "form-check-input" value="2" name="alternativa" type="radio" id="radio2" checked="true">
              {% else %}
                class="radio radio-primary form-check">
                <input class = "form-check-input" value="2" name="alternativa" type="radio" id="radio2">
              {% endif%}
                <label class = "form-check-label" for="radio2">
                  {% if pregunta.imagen_alternativa_2 %}
                    <img class="rounded mx-auto d-block" src="/media/{{pregunta.imagen_alternativa_2}}">
                  {% else %}
                    {{pregunta.alternativa_2}}    
                  {% endif %}
                </label>
            </div>

            <div 
              {% if es_correcta and alternativa_correcta == "3" %}
                class="radio radio-primary form-check is_correct">
                <input class = "form-check-input" value="3" name="alternativa" type="radio" id="radio3" checked="true">
              {% else %}
                class="radio radio-primary form-check">
                <input class = "form-check-input" value="3" name="alternativa" type="radio" id="radio3" >
              {% endif%}
                
                <label class = "form-check-label" for="radio3">
                  {% if pregunta.imagen_alternativa_3 %}
                    <img class="rounded mx-auto d-block" src="/media/{{pregunta.imagen_alternativa_3}}">
                  {% else %}
                    {{pregunta.alternativa_3}}    
                  {% endif %}

                </label>
            </div>

            <div 
              {% if es_correcta and alternativa_correcta == "4" %}
                class="radio radio-primary form-check is_correct">
                <input class = "form-check-input" value="4" name="alternativa" type="radio" id="radio4" checked="true">
              {% else %}
                class="radio radio-primary   form-check">
                <input class = "form-check-input" value="4" name="alternativa" type="radio" id="radio4" >
              {% endif%}
                <label class = "form-check-label" for="radio4">
                  {% if pregunta.imagen_alternativa_4 %}
                    <img class="rounded mx-auto d-block" src="/media/{{pregunta.imagen_alternativa_4}}">
                  {% else %}
                    {{pregunta.alternativa_4}}    
                  {% endif %}
                </label>
            </div>
            <div class="row boton-inferior">
              <div class="col-sm"></div>
              <div class="col-sm">
                {% if es_correcta %}
                    <input type="hidden" name="siguiente" value="{{ pregunta.id }}">
                    <input class="btn btn-primary btn-block" type="submit" value="Siguiente">
                {% else %}
                  <input class="btn btn-primary btn-block" type="submit" value="Corregir">
                {% endif %}
              </div>
              <div class="col-sm"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript">
  $(document).keypress(function(event) {
    if ((event.charCode == 65) || (event.charCode == 97)){
      $(".alternativa-a").prop('checked',true);
    }
    else if ((event.charCode == 66) || (event.charCode == 98)){
      $(".alternativa-b").prop('checked',true);
    }
    else if ((event.charCode == 67) || (event.charCode == 99)){
      $(".alternativa-c").prop('checked',true);
    }
    else if ((event.charCode == 68) || (event.charCode == 100)){
      $(".alternativa-d").prop('checked',true);
    }
    else if (event.charCode == 13){
      $('#intermedio-form').submit();
    }
  });

  </script>
{% endblock %}