{% extends 'base.html' %}
{% block 'body' %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Exámen de Reglas - MTC</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        {% if es_correcta == None %}
        {% elif es_correcta%}
          <div class="alert alert-success" role="alert">
            La alternativa seleccionada es correcta.
          </div>
        
        {% else %}  
          <div class="alert alert-danger" role="alert">
           La alternativa seleccionada es incorrecta, seleccione nuevamente.
          </div>

        {%endif%}
        <form class = "question" method="POST" action="{% url 'basico'%}" novalidate>
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ pregunta.id }}">
          <h1 class="cover-heading">Pregunta {{pregunta.id}}: {{pregunta.enunciado}}</h1>
          
          <div 
            {% if es_correcta and alternativa_correcta == "1" %}
              class="form-check is_correct">
              <input class = "form-check-input" value="1" name="alternativa" type="radio" id="radio1" checked="true">
            {% else %}
              class="form-check"  >
              <input class = "form-check-input" value="1" name="alternativa" type="radio" id="radio1">
            {% endif%}
            <label class = "form-check-label" for="radio1">{{pregunta.alternativa_1}}</label>
          </div>
          
          <div            
            {% if es_correcta and alternativa_correcta == "2" %}
              class="form-check is_correct">
              <input class = "form-check-input" value="2" name="alternativa" type="radio" id="radio2" checked="true">
            {% else %}
              class="form-check">
              <input class = "form-check-input" value="2" name="alternativa" type="radio" id="radio2">
            {% endif%}
              <label class = "form-check-label" for="radio2">{{pregunta.alternativa_2}}</label>
          </div>

          <div 
            {% if es_correcta and alternativa_correcta == "3" %}
              class="form-check is_correct">
              <input class = "form-check-input" value="3" name="alternativa" type="radio" id="radio3" checked="true">
            {% else %}
              class="form-check">
              <input class = "form-check-input" value="3" name="alternativa" type="radio" id="radio3" >
            {% endif%}
              
              <label class = "form-check-label" for="radio3">{{pregunta.alternativa_3}}</label>
              <div class="valid-feedback">
                Looks good!
              </div>
          </div>

          <div 
            {% if es_correcta and alternativa_correcta == "4" %}
              class="form-check is_correct">
              <input class = "form-check-input" value="4" name="alternativa" type="radio" id="radio4" checked="true">
            {% else %}
              class="form-check">
              <input class = "form-check-input" value="4" name="alternativa" type="radio" id="radio4" >
            {% endif%}
              <label class = "form-check-label" for="radio4">{{pregunta.alternativa_4}}</label>
          </div>
          {% if es_correcta %}
            <input type="hidden" name="siguiente" value="{{ pregunta.id }}">
            <input class="btn btn-primary btn-block" type="submit" value="Siguiente">
          {% else %}
            <input class="btn btn-primary btn-block" type="submit" value="Corregir">
          {% endif %}
        </form>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Examen de Manejo hecho por <a href="https://twitter.com/mdo">SOLBER</a>.</p>
        </div>
      </footer>
    </div>
{% endblock %}