{% extends 'base.html' %}
{% block 'body' %}
<div class="clock">
<p id="clock">-:-</p>
</div>
    <main role="main" class="inner cover" id="body">
        {% if es_correcta == None %}
        {% elif es_correcta%}
          <div class="alert alert-success" role="alert">
            La alternativa seleccionada es correcta.
          </div>
        
        {% else %}  
          <div class="alert alert-danger" role="alert">
           La alternativa seleccionada es incorrecta, la respuesta correcta es la <span style= " text-transform: uppercase;">{{alternativa_correcta_letra}}</span>.
          </div>

        {%endif%}
    <div class="container pregunta-container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
        <form id = "intermedio-form" class = "question" method="POST" action="{% url 'intermedio'%}?categoria={{categoria}}" novalidate>
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ pregunta.id }}">
          <h1 class="cover-heading">Pregunta {{ numero }}: {{pregunta.enunciado}}</h1>
          {% if pregunta.imagen_enunciado%}
            <img class="rounded mx-auto d-block" src="/media/{{pregunta.imagen_enunciado}}">
          {% endif %}
          <div 
            {% if alternativa_correcta == "1" %}
              class="form-check is_correct">
              <input class = "form-check-input" value="1" name="alternativa" type="radio" id="radio1" checked="true">
            {% elif alternativa_seleccionada == "1" %}
              class="form-check is_incorrect">
              <input class = "form-check-input" value="1" name="alternativa" type="radio" id="radio1">
            {% else %}
              class="form-check">
              <input class = "form-check-input" value="1" name="alternativa" type="radio" id="radio1">
            {% endif%}
            <label class = "form-check-label" for="radio1"> <span style = "padding-right:10px; font-weight:bold">A.</span>
              {% if pregunta.imagen_alternativa_1 %}
                <img class="rounded mx-auto d-block" src="/media/{{pregunta.imagen_alternativa_1}}">
              {% else %}
                {{pregunta.alternativa_1}}    
              {% endif %}
            </label>
          </div>
          
          <div            
            {% if alternativa_correcta == "2" %}
              class="form-check is_correct">
              <input class = "form-check-input" value="2" name="alternativa" type="radio" id="radio2" checked="true">
            {% elif alternativa_seleccionada == "2" %}
              class="form-check is_incorrect">
              <input class = "form-check-input" value="2" name="alternativa" type="radio" id="radio2">
            {% else %}
              class="form-check">
              <input class = "form-check-input" value="2" name="alternativa" type="radio" id="radio2">
            {% endif%}
              <label class = "form-check-label" for="radio2"><span style = "padding-right:10px; font-weight:bold">B.</span>
                {% if pregunta.imagen_alternativa_2 %}
                  <img class="rounded mx-auto d-block" src="/media/{{pregunta.imagen_alternativa_2}}">
                {% else %}
                  {{pregunta.alternativa_2}}    
                {% endif %}
              </label>
          </div>

          <div 
            {% if alternativa_correcta == "3" %}
              class="form-check is_correct">
              <input class = "form-check-input" value="3" name="alternativa" type="radio" id="radio3" checked="true">
            {% elif alternativa_seleccionada == "3" %}
              class="form-check is_incorrect">
              <input class = "form-check-input" value="3" name="alternativa" type="radio" id="radio3">
            {% else %}
              class="form-check">
              <input class = "form-check-input" value="3" name="alternativa" type="radio" id="radio3">
            {% endif%}
              
              <label class = "form-check-label" for="radio3"><span style = "padding-right:10px; font-weight:bold">C.</span>
                {% if pregunta.imagen_alternativa_3 %}
                  <img class="rounded mx-auto d-block" src="/media/{{pregunta.imagen_alternativa_3}}">
                {% else %}
                  {{pregunta.alternativa_3}}    
                {% endif %}
              </label>
          </div>

          <div 
            {% if alternativa_correcta == "4" %}
              class="form-check is_correct">
              <input class = "form-check-input" value="4" name="alternativa" type="radio" id="radio4" checked="true">
            {% elif alternativa_seleccionada == "4" %}
              class="form-check is_incorrect">
              <input class = "form-check-input" value="4" name="alternativa" type="radio" id="radio4">
            {% else %}
              class="form-check">
              <input class = "form-check-input" value="4" name="alternativa" type="radio" id="radio4">
            {% endif%}
              <label class = "form-check-label" for="radio4"><span style = "padding-right:10px; font-weight:bold">D.</span>
                {% if pregunta.imagen_alternativa_4 %}
                  <img class="rounded mx-auto d-block" src="/media/{{pregunta.imagen_alternativa_4}}">
                {% else %}
                  {{pregunta.alternativa_4}}    
                {% endif %}
              </label>
          </div>
          
          {% if respondida%}
            <input type="hidden" name="siguiente" value="{{ pregunta.id }}">
            <input class="btn btn-primary btn-block" type="submit" value="Siguiente">
          {% else %}
            <input class="btn btn-primary btn-block" type="submit" value="Corregir">
          {% endif %}
        </form>
        </div>
      </div>
    </div>
  </main>
      <script type="text/javascript">
      $(function() {
        var TIEMPO = new Date("{{ tiempo }}");
        $('#intermedio-form input').on('change', function() {
          $('#intermedio-form').submit();
        });
        var myVar = setInterval(myTimer, 1000);
        myTimer();
        function myTimer() {
            var ahora = new Date();
            var diferencia = ahora - TIEMPO;
            var total_time = Math.ceil(diferencia / 1000);
            var minutos = Math.floor(total_time/60);
            var segundos = total_time%60;
            if(minutos==0 && segundos==0){
               $('#estadisticas_form').submit(); 
               return;
            }
            if (minutos<10){
              minutos = "0" + minutos;
            }
            if(segundos<10){
              segundos = "0" + segundos;
            }
            var reloj = minutos + ":" + segundos;
            document.getElementById("clock").innerHTML = reloj;
        }
      });

    </script>
{% endblock %}