{% extends 'base.html' %}
{% block 'body' %}
    <main role="main" class="container">
      <div style = "display:none !important" class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
          <small>Since 2011</small>
        </div>
      </div>
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Escoge un nivel: </h6>
        <div class="media text-muted pt-3">
          <a href="{% url 'basico'%}?categoria={{ categoria }}" class="btn btn-sm btn-secondary list-category-btn" >B</a>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark list-category"><a class = "list-category-link" href="{% url 'basico'%}?categoria={{ categoria }}">Nivel Básico</a></strong>
            </div>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <a href="{% url 'intermedio'%}?categoria={{ categoria }}" class="btn btn-sm btn-secondary list-category-btn" >I</a>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark list-category"><a class = "list-category-link" href="{% url 'intermedio'%}?categoria={{ categoria }}">Nivel Intermedio</a></strong>
            </div>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <a href="{% url 'previo_avanzado'%}?categoria={{ categoria }}" class="btn btn-sm btn-secondary list-category-btn" >A</a>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark list-category"><a class = "list-category-link" href="{% url 'previo_avanzado'%}?categoria={{ categoria }}">Nivel Avanzado</a></strong>
            </div>
          </div>
        </div>
   </main>
{% endblock %}