{% extends 'base.html' %}
{% block 'body' %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Exámen de Reglas - MTC</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Escoge el nivel de dificultad:</h1>
          <a href="https://getbootstrap.com/docs/4.0/examples/cover/#" class="btn btn-lg btn-secondary">Básico</a>
          <a href="https://getbootstrap.com/docs/4.0/examples/cover/#" class="btn btn-lg btn-secondary">Intermedio</a>
          <a href="https://getbootstrap.com/docs/4.0/examples/cover/#" class="btn btn-lg btn-secondary">Avanzado</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Examen de Manejo por <a href="https://twitter.com/mdo">@solber</a>.</p>
        </div>
      </footer>
    </div>
{% endblock %}